*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#header{
    background-color: rgba(255, 255, 255, 0.364);
}
.logo-sm{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
a img{
    width: 200px;
}
#wrapper{
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-signin{
    max-width: 500px;
    height: 350px;
    background: #ffffff48;
    flex-grow: 1;
    padding: 50px 40px 50px;
    border-radius: 20px;
}
.form-heading{
    font-size: 25px;
    color: #000000;
    text-align: center;
    margin-bottom: 30px;
}
.form-group{
    border-bottom: 1px solid #0177C1;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
}
.form-group i{
    color: #0177C1;
    font-size: 20px;
    padding-right: 10px;
}
.form-input{
    background: transparent;
    border: 0;
    outline: 0;
    color: #0177C1;
    flex-grow: 1;
    font-size: 20px;
}
.form-input::placeholder{
    color: #0177C1;
}
#eye i{
    padding-right: 0px;
    cursor: pointer;
}
.form-submit{
    background: transparent;
    border: none;
    color: #ffff;
    width: 200px;
    text-transform: uppercase;
    padding: 6px 10px;
    transition: 0.3s ease-in-out;
    margin-top: 30px;
    font-size: 22px;
    background-color: #D63D3D;
    transition: all 0.3s ease;
    border-radius: 5px;
}
.form-submit:hover{
    scale: 1.03;
}
#form-signin a{
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}
#form-signin a:hover{
    text-decoration: underline;
}